<div class="edit">
<form action="/products/{{id}}?_method=PUT" method="POST">
  <p><input type="text" name="id" value={{id}} label="ID"></p>
  <p><input type="text" name="name" value={{name}} label="Name"></p>
  <p><input type="text" name="price" value={{price}} label="Price"></p>
  <p><input type="text" name="inventory" value={{inventory}} label="Inventory"></p>
  <button type="submit">Edit Product</button>
  </form>
</div>